{{ define "head" }}
{{ $style := resources.Get "styles/page-single.css" | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<header id="frontmatter">
	<h1 id="title">{{ .Title }}</h1>
	<p id="desc">{{ .Description }}</p>
	<p id="date">Started on {{ .Date.Format "02 January 2006" }}</p>
</header>

<article>
	<section id="thumbnail">
		<img src="{{ .Params.thumbnail }}" alt="">
	</section>

	<h2>Keywords</h2>
	{{ range .Params.keywords }}<span class="chip">{{ . }}</span>{{ end }}

	<h2>Skills</h2>
	{{ range .Params.skills }}<span class="chip">{{ . }}</span>{{ end }}

	{{ .Content }}
</article>
{{ end }}
