<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ $globalStyle := resources.Get "styles/global.css"}}
{{ $navbarStyle := resources.Get "styles/navbar.css"}}
{{ $style := slice $globalStyle $navbarStyle | resources.Concat "style.css" | minify }}

<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{ .Page.Description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

	<title>{{ .Page.Title }} &bull; {{ .Site.Title}}</title>

	<link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	{{- block "head" . }}{{- end }}
</head>

<body>
	<script>0</script>
	{{- partial "navbar.html" . -}}
	<main>
		{{- block "main" . }}{{- end }}
		{{- partial "footer.html" . -}}
	</main>
	<script>
		// Configure every external link to open in a new browser tab
		for (const link of document.getElementsByTagName('a')) {
			if (link.href.startsWith("https://")) {
				link.target = '_blank';
				link.rel = 'noreferrer noopener';
			}
		}
	</script>
</body>

</html>
