<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

{{ $globalStyle := resources.Get "styles/global.css" | minify }}
{{ $linkScript := resources.Get "scripts/links.js" | js.Build "links.js" | minify | resources.Fingerprint "sha512" }}
{{ $favicon := relURL "favicon.svg" }}

<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{ page.Description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="p:domain_verify" content="c739f7a66ab837c82c4dabdf0a2fb1d1"/>
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

	<title>{{ page.Title }} &bull; {{ site.Title }}</title>

	{{ range .AlternativeOutputFormats }}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ site.Title }}">
	{{ end }}
	<link rel="shortcut icon" href="{{ $favicon }}" type="image/svg+xml">
	<link rel="stylesheet" href="{{ $globalStyle.Permalink }}">

	{{ block "head" . }}{{ end }}
</head>

<body>
	<script>0</script>
	{{ partial "navbar.html" . }}
	<main>
		{{ block "main" . }}{{ end }}
		{{ partial "footer.html" . }}
	</main>
	<!-- <script src="{{ $linkScript.Permalink }}" integrity="{{ $linkScript.Data.Integrity }}"></script> -->
</body>

</html>
