@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	/* Color palette from Haikei */
	--haikei-black: #001122;
	--haikei-white: #FFFFFF;
	--haikei-grey: #888277;
	--haikei-red: #FF0066;
	--haikei-orange: #F7770F;
	--haikei-yellow: #FCAF3C;
	--haikei-green: #009473;
	--haikei-cyan: #4FACF7;
	--haikei-blue: #0066FF;
	--haikei-violet: #715DF2;

	/* Base color */
	background-color: var(--haikei-black);
	color: var(--haikei-white);

	/* Base font */
	font-size: 16px;
	font-family: 'Lexend', sans-serif;
}

/* MARK: Apply border-inclusive sizing to all elements */
* {
	box-sizing: border-box;
}

/* MARK: Remove browser default body margin */
body {
	margin: 0;
}

/* MARK: Main content */
main {
	margin-left: 6rem; /* Lend space for navbar */
	padding: 2rem;
}

/* MARK: Footer */
footer {
	max-width: 110ch;
	padding-top: 2rem;
}

/* MARK: Quote */
blockquote {
	margin: 1rem 0;
	padding: 1rem 1rem 0.25rem;
	background-color: #FFF1;
	border-left: solid 5pt var(--haikei-yellow);
}

/* MARK: Style for heading text */
:is(h1, h2, h3, h4, h5, h6) {
	margin-inline: 0;
	margin-block: 1rem 0.5rem;
	font-family: 'Work Sans', sans-serif;
}

/* MARK: Enlarge first heading for titles */
h1 {
	font-size: 2.5em;
}

/* MARK: Style for paragraphs and lists */
:is(p, ul, ol) {
	margin-inline: 0;
	margin-block: 0 1rem;
}

/* MARK: Limit text width */
:is(p, li) {
	max-width: 75ch;
}

/* MARK: Link configuration */
a {
	color: color-mix(in srgb, var(--haikei-yellow) 70%, white 30%);
	text-decoration: none;
	transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

/* MARK: Underline link when hovered */
a:hover {
	text-decoration: underline;
}

/* MARK: Horizontal line */
hr {
	border: solid 0.1rem var(--haikei-white);
}

/* MARK: Selected elements */
::selection {
	background-color: var(--haikei-yellow);
	color: var(--haikei-black);
}

/* MARK: Navigation bar/rail */
nav {
	/* Rail shape */
	width: 6rem;
	height: 100vh;
	padding: 1rem;

	/* Fixed in place */
	position: fixed;
	top: 0;
	left: 0;

	/* Flexbox */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	/* Color */
	background-color: var(--haikei-yellow);
}

/* Scale navbar links when hovered */
nav a:hover {
	scale: 1.2;
}

/* MARK: Navigation bar menu */
#menu {
	margin: 0;
	padding: 0;
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

/* Menu items */
#menu a {
	width: 4rem;
	height: 4rem;
	padding: 0.5rem;
	background-color: var(--haikei-black);
	border-radius: 20%;
}

/* Menu icons */
#menu img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Chips */
span.chip {
	--accent: var(--haikei-red);

	margin-right: 0.4rem;
	padding: 0.2rem 0.4rem;
	background-color: color-mix(in srgb, var(--accent) 30%, transparent 80%);
	display: inline-block;
	border-radius: 0.4rem;
}

/* MARK: Mobile mode */
@media (width <=600px) {

	/* Remove lent space for navbar */
	main {
		margin-left: 0;
	}

	/* Change to Bar shape */
	nav {
		width: 100%;
		height: auto;
		position: static;
		flex-direction: row;
		gap: 1rem;
	}

	/* Horizontal menu */
	#menu {
		flex-direction: row;
	}
}
