main {
	font-size: 1.2rem;
}

/* MARK: Front Matter */
#frontmatter {
	padding: 1rem;
	text-align: center;
}

#frontmatter p {
	margin: auto;
}

#frontmatter #title {
	margin-block: 1rem;
	font-size: clamp(2rem, 30vw, 2.5rem);
	text-wrap: balance;
}

#frontmatter :where(#desc, #date) {
	font-size: clamp(1rem, 10vw, 1.3rem);
}

#frontmatter #date {
	font-style: italic;
}

#thumbnail img {
	width: 100%;
	height: auto;
	margin: 0 auto 2rem;
	display: block;
	border-radius: 1rem;
	filter: drop-shadow(0 0 1rem gray);
}

article {
	max-width: 75ch;
	margin: auto;

	/* MARK: Header style */
	& h2 {
		margin-block: 2rem 1rem;
	}

	/* MARK: Reduce first heading's margin */
	& h2:first-of-type {
		margin-block-start: 0.5rem;
	}
}

@media (width <= 600px) {
	#frontmatter {
		padding: .5rem;
	}
}
