{{define "head"}}
{{ $hero := resources.Get "styles/hero.css" | minify }}
{{ $feed := resources.Get "styles/home-feed.css" | minify }}

<link rel="stylesheet" href="{{ $hero.RelPermalink }}">
<link rel="stylesheet" href="{{ $feed.RelPermalink }}">
{{end}}

{{define "main"}}
<header id="hero">
	<div><img src="/favicon.svg" alt="" width="256" height="256"></div>
	<div>
		<h1 id="title">{{ .Site.Title }}</h1>
		<p id="subtitle">{{ .Page.Description }}</p>
	</div>
</header>
<article>
	{{.Content}}
	<h1>Contents</h1>
	<p>Articles, Blog posts, Announcements</p>
	<section class="homefeed">
		{{ partial "homefeed.html" (where .Site.RegularPages "Section" "contents") }}
	</section>
	<h1>Project Showcase</h1>
	<p>Showcases and devlogs of my projects</p>
	<section class="homefeed">
		{{ partial "homefeed.html" (where .Site.RegularPages "Section" "projects") }}
	</section>
	<h1>Science Wiki</h1>
	<p>Collection of science knowledge and stuffs</p>
	<section class="homefeed">
		{{ partial "homefeed.html" (where .Site.RegularPages "Section" "science") }}
	</section>
</article>
{{end}}
